h1 {
	display: block;
	margin: 0 auto 30px;
	text-align: center;
}

.boxes {
	display: block;
	min-height: 100px; 
	margin: 10px auto;
	width: 50%;
}

.box {
	background-color: #f08080;
	border: 2px dashed #1B1B1B;
	color: #1B1B1B;
	font-weight: 700;
	height: 150px;
  	padding: 20px;
  	margin: 10px;
  	width: 150px;
}

.inline {
	display: inline;
}

.inline-block {
	display: inline-block;
}
